In [1]:
import sys
import os
sys.path.append("../")
from datapath import base_path, data_path
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [11]:
billboard = pd.read_csv(os.path.join(data_path, "billboard.csv"))

In [12]:
billboard_long = pd.melt(billboard, id_vars=["year", "artist", "track", "time", "date.entered"],
                         var_name="week", value_name="rating")
billboard_long.shape

(24092, 7)

In [20]:
billboard_long.head()

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [21]:
billboard_long[billboard_long.track == "Loser"].head()

      year        artist  track  time date.entered week  rating
3     2000  3 Doors Down  Loser  4:24   2000-10-21  wk1    76.0
320   2000  3 Doors Down  Loser  4:24   2000-10-21  wk2    76.0
637   2000  3 Doors Down  Loser  4:24   2000-10-21  wk3    72.0
954   2000  3 Doors Down  Loser  4:24   2000-10-21  wk4    69.0
1271  2000  3 Doors Down  Loser  4:24   2000-10-21  wk5    67.0

In [14]:
billboard_songs = billboard_long[["year", "artist", "track", "time"]]
billboard_songs.shape

(24092, 4)

In [16]:
billboard_songs = billboard_songs.drop_duplicates()
print(billboard_songs.shape)

(317, 4)

In [17]:
billboard_songs["id"] = range(len(billboard_songs))
print(billboard_songs.head(n=10))

   year          artist                    track  time  id
0  2000           2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000         2Ge+her  The Hardest Part Of ...  3:15   1
2  2000    3 Doors Down               Kryptonite  3:53   2
3  2000    3 Doors Down                    Loser  4:24   3
4  2000        504 Boyz            Wobble Wobble  3:35   4
5  2000            98^0  Give Me Just One Nig...  3:24   5
6  2000         A*Teens            Dancing Queen  3:44   6
7  2000         Aaliyah            I Don't Wanna  4:15   7
8  2000         Aaliyah                Try Again  4:03   8
9  2000  Adams, Yolanda            Open My Heart  5:30   9

In [18]:
billboard_ratings = billboard_long.merge(billboard_songs, on=["year", "artist", "track", "time"])
print(billboard_ratings.shape)

(24092, 8)

In [22]:
billboard_ratings.head()

,year,artist,track,time,date.entered,week,rating,id
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0,0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0,1
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0,2
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0,3
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0,4

In [23]:
billboard_ratings = billboard_long.merge(billboard_ratings, on=["year", "artist", "track", "time"])
print(billboard_ratings)

         year           artist                    track  time date.entered_x  \
0        2000            2 Pac  Baby Don't Cry (Keep...  4:22     2000-02-26
1        2000            2 Pac  Baby Don't Cry (Keep...  4:22     2000-02-26
2        2000            2 Pac  Baby Don't Cry (Keep...  4:22     2000-02-26
3        2000            2 Pac  Baby Don't Cry (Keep...  4:22     2000-02-26
4        2000            2 Pac  Baby Don't Cry (Keep...  4:22     2000-02-26
...       ...              ...                      ...   ...            ...
1830987  2000  matchbox twenty                     Bent  4:12     2000-04-29
1830988  2000  matchbox twenty                     Bent  4:12     2000-04-29
1830989  2000  matchbox twenty                     Bent  4:12     2000-04-29
1830990  2000  matchbox twenty                     Bent  4:12     2000-04-29
1830991  2000  matchbox twenty                     Bent  4:12     2000-04-29

        week_x  rating_x date.entered_y week_y  rating_y   id
0          wk1      87.0     2000-02-26    wk1      87.0    0
1          wk1      87.0     2000-02-26    wk2      82.0    0
2          wk1      87.0     2000-02-26    wk3      72.0    0
3          wk1      87.0     2000-02-26    wk4      77.0    0
4          wk1      87.0     2000-02-26    wk5      87.0    0
...        ...       ...            ...    ...       ...  ...
1830987   wk76       NaN     2000-04-29   wk72       NaN  316
1830988   wk76       NaN     2000-04-29   wk73       NaN  316
1830989   wk76       NaN     2000-04-29   wk74       NaN  316
1830990   wk76       NaN     2000-04-29   wk75       NaN  316
1830991   wk76       NaN     2000-04-29   wk76       NaN  316

[1830992 rows x 11 columns]