In [1]:
import sys
import os
sys.path.append("../")
from datapath import base_path, data_path
import pandas as pd

In [2]:
s = pd.Series(["banana", 42])
print(s)

0    banana
1        42
dtype: object

In [4]:
s = pd.Series(["Wes McKinney", "Creator of Pandas"])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [5]:
# 인덱스를 문자열로 주고 저장한 경우
s = pd.Series(["Wes McKinney", "Creator of Pandas"], index=["Person", "Who"])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [9]:
# make dataframe
# 1. outer_type이 dictionary인 형태
sci_dict = {
    "Name": ["Rosaline Franklin", "William Gosset"],
    "Occupation": ["Chemist", "Statistcian"],
    "Born": ["1920-07-25", "1876-06-13"],
    "Died": ["1958-04-16", "1937-10-16"],
    "Aged": [37, 61]
}


scientists = pd.DataFrame(sci_dict)

In [10]:
scientists.head()

                Name   Occupation        Born        Died  Aged
0  Rosaline Franklin      Chemist  1920-07-25  1958-04-16    37
1     William Gosset  Statistcian  1876-06-13  1937-10-16    61

In [11]:
# outer_type이 list인 형태.
sci_list_dict = [
    {"Name": "Rosaline Franklin", "Occupation": "Chemist", "Born": "1920-07-25", "Died": "1958-04-16", "Aged": 37},
    {"Name": "Willam Gosset", "Occupation": "Statistcian", "Born": "1876-06-13", "Died": "1937-10-16", "Aged": 61}
]

scientists = pd.DataFrame(sci_list_dict)
print(scientists.head())
# 이 둘은 완전히 동일한 데이터 프레임을 만든다.

                Name   Occupation        Born        Died  Aged
0  Rosaline Franklin      Chemist  1920-07-25  1958-04-16    37
1      Willam Gosset  Statistcian  1876-06-13  1937-10-16    61