In [1]:
import sys
import os
sys.path.append("../")
from datapath import base_path, data_path
import pandas as pd

# default seperator: "," and current seperator is \t(tab)
data_path = os.path.join(data_path, "scientists.csv")
df = pd.read_csv(data_path)

In [4]:
#pickle를 이용한 직렬화 -> 데이터 저장
# os.getcwd(), os.path.join을 이용 -> 현재 디렉토리에 저장함.
names = df["Name"]
names.to_pickle(os.path.join(os.getcwd(), "scientists_names_series.pickle"))
df.to_pickle(os.path.join(os.getcwd(), "scientists_df.pickle"))

In [5]:
scientists_name_from_pickle = pd.read_pickle(os.path.join(os.getcwd(), "scientists_names_series.pickle"))
scientists_name_from_pickle

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [7]:
scientists_df_pickle = pd.read_pickle(os.path.join(os.getcwd(), "scientists_df.pickle"))
scientists_df_pickle

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [9]:
#tsv, csv, excel파일로도 저장이 가능함.

names.to_csv(os.path.join(os.getcwd(), "scientists_names_series.csv"))
names.to_csv(os.path.join(os.getcwd(), "scientists_names_series.tsv"), sep="\t")

In [10]:
# series파일을 excel로 저장하려면 ..
"""
$ pip install xlwt
$ pip install openpyxl    
"""
import xlwt
import openpyxl
names.to_excel(os.path.join(os.getcwd(), "scientists_names_series.xlsx"))