In [1]:
import seaborn as sns
import numpy as np
import sys
import os
sys.path.append("../")
import pandas as pd

In [2]:
tips_10 = sns.load_dataset("tips").sample(10, random_state=42)
print(tips_10)

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153       24.55  2.00    Male     No   Sun  Dinner     4
211       25.89  5.16    Male    Yes   Sat  Dinner     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
176       17.89  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [3]:
grouped = tips_10.groupby("sex")

C:\Users\Suseong Kim\AppData\Local\Temp\ipykernel_4896\703240147.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = tips_10.groupby("sex")

In [4]:
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002017F9B2180>

In [5]:
print(grouped.groups)

{'Male': [24, 6, 153, 211, 176, 192, 9], 'Female': [198, 124, 101]}

In [7]:
avgs = grouped.mean(numeric_only=True) #numeric_only = True옵션을 넣어서 계산할 수 있는 열만 계산.

In [8]:
print(avgs)

        total_bill       tip      size
sex
Male         20.02  2.875714  2.571429
Female       13.62  2.506667  2.000000

In [9]:
print(tips_10.columns)

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [10]:
female = grouped.get_group("Female")

In [11]:
print(female)

     total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [12]:
for sex_group in grouped:
    print(sex_group)

('Male',      total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2)
('Female',      total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2)

In [19]:
for sex_group in grouped:
    print("the type is {}\n".format(type(sex_group)))
    print("the length is: {}\n".format(len(sex_group)))
    
    first_element = sex_group[0]
    
    print("first_element:", str(first_element))
    print("first_element type:", type(sex_group[0]))
    print()
    
    second_element = sex_group[1]
    print("second element:", str(second_element))
    print("second element type: ", type(sex_group[1]))
    print()
    
    print("what we have:", str(sex_group))
    break

the type is <class 'tuple'>

the length is: 2

first_element: Male
first_element type: <class 'str'>

second element:      total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2
second element type:  <class 'pandas.core.frame.DataFrame'>

what we have: ('Male',      total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2)

In [21]:
bill_sex_time = tips_10.groupby(["sex", "time"])
group_avg = bill_sex_time.mean(numeric_only=True)

C:\Users\Suseong Kim\AppData\Local\Temp\ipykernel_4896\614850672.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  bill_sex_time = tips_10.groupby(["sex", "time"])

In [22]:
print(group_avg.columns)

Index(['total_bill', 'tip', 'size'], dtype='object')

In [26]:
print(group_avg.index)

MultiIndex([(  'Male',  'Lunch'),
            (  'Male', 'Dinner'),
            ('Female',  'Lunch'),
            ('Female', 'Dinner')],
           names=['sex', 'time'])

In [25]:
group_method = tips_10.groupby(["sex", "time"]).mean(numeric_only=True).reset_index()

C:\Users\Suseong Kim\AppData\Local\Temp\ipykernel_4896\1410455053.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  group_method = tips_10.groupby(["sex", "time"]).mean(numeric_only=True).reset_index()

In [27]:
group_param = tips_10.groupby(["sex", "time"], as_index=False).mean(numeric_only=True)

C:\Users\Suseong Kim\AppData\Local\Temp\ipykernel_4896\2574460305.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  group_param = tips_10.groupby(["sex", "time"], as_index=False).mean(numeric_only=True)

In [28]:
group_param.head()

      sex    time  total_bill       tip      size
0    Male   Lunch   28.440000  2.560000  2.000000
1    Male  Dinner   18.616667  2.928333  2.666667
2  Female   Lunch   12.740000  2.260000  2.000000
3  Female  Dinner   15.380000  3.000000  2.000000